/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td_grave: td_grave {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp ESCAPE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&td_grave  &kp Q  &kp W  &kp F     &kp P          &kp B          &kp J        &kp L    &kp U            &kp Y    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp TAB    &kp A  &kp R  &kp S     &kp T          &kp G          &kp M        &kp N    &kp E            &kp I    &kp O             &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp D          &kp V          &kp K        &kp H    &kp COMMA        &kp DOT  &kp FSLH          &kp SEMICOLON
                         &kp LGUI  &kp BACKSPACE  &lt 1 SPACE    &lt 2 ENTER  &kp DEL  &kp RIGHT_SHIFT
            >;
        };

        layer_2 {
            bindings = <
&trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&kp CAPS      &trans        &trans        &trans        &trans        &trans    &trans        &trans  &trans  &trans  &trans  &trans
&kp LEFT_ALT  &trans        &trans        &trans        &trans        &trans    &trans        &trans  &trans  &trans  &trans  &trans
                                          &trans        &trans        &trans    &trans        &trans  &trans
            >;
        };

        code_layer {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &kp PAGE_UP    &kp HOME        &kp UP_ARROW  &kp END    &kp MINUS      &kp EQUAL
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &kp BACKSLASH  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans     &trans         &trans          &trans        &trans     &trans         &trans
                          &trans  &trans  &trans     &trans         &trans          &trans
            >;
        };
    };
};
